@import "tailwindcss";


@theme {  
    --color-primary: oklch(0.774 0.163 60);
    --color-text-light: oklch(0.321 0 0); 
    --color-accent: oklch(0.745 0.158 152); 
    --color-background-light: oklch(0.985 0 0); 
}